*{
    font-family: "Chilanka";
}
/*-------------------header section---------------------- */
.header{
    background-image: url("../imgs/p1.jpg");
    background-size: cover;
    height: 500px
}
.noshery{
    padding-top: 40px;
    font-size: 40px;
    padding-top: 5px;
    font-size: 80px;
    border-style: dotted;
    border-width: 10px;
    margin: 5px;
    width: 50%;
    height: 30%;
}

/*-------------------Menu section---------------------- */

.menu{
    padding-top: 50px;
}
